{% extends "basegeneric.html" %}
{% block content %}
  <h2 class="title">Blogs</h2>
  <div class="blogs">
  {% if object_list %}
    {% for blog in object_list %}
        <div class="bloglist">
          <h3> <a href= "{% url 'social:bloghome' blog_id=blog.id%}">{{ blog.blogname }}</a> </h3>
          <p>About: {{blog.snippet}}</p>
          <p class="username" >created by {{blog.user.username}}</p>

        </div>
    {% endfor %}

  {% else %}
    <p>No posts are available.</p>
  {% endif %}

  </div>
  <a href="{% url 'social:blog_create' %}" class="btn btn-success" id="create-blog">Create New Blog</a>

{% endblock %}
