{% extends "basegeneric.html" %}
{% block content %}
  <div class="post-detail">
    <div class="post">

    <h2>{{ post.title }}</h2>
    <p>{{post.body}}</p>
      <p class="post-date">{{post.pub_date}}</p>
      <p class="username">by {{ post.user.username}}</p>
    </div>
  </div>

    <div class="comments">
      <h3> Comments </h3>
      {% if commentlist %}

        {% for comment in commentlist %}
          <div class="comment">
            <p>{{comment.content}}</p>
            <p class="username">by {{comment.user.username}}</p>
          </div>
        {% endfor %}
      {%else%}
        <p>no comments</p>
      {%endif%}
      <a href="{% url 'social:comment_create' posts_id=post.id %}" class="btn btn-success">Add Comment</a>
  </div>

{% endblock %}
