{% extends "basegeneric.html" %}
{% block content %}
  <h2 class="title">Posts</h2>
  <div class="posts">
  {% if latest_posts_list %}
    {% for posts in latest_posts_list %}
        <div class="post">
          <h3> <a href="/social/posts/{{ posts.id }}/">{{ posts.title }}</a> </h3>
          <p>{{posts.snippet}}</p>
          <p>{{posts.pub_date}}</p>
          <p>by {{posts.user.username}}</p>
        </div>
    {% endfor %}
  </div>
{% else %}
    <p>No posts are available.</p>
{% endif %}

{% endblock %}
