{% extends "basegeneric.html" %}
{% block content %}
  <p> <h1>Profile view</h1> </p>
  <p>username : {{profile.user.username}}</p>
  <p>date of birth : {{profile.dob}}</p>
  <p> avatar: </p>
  <img src="{{profile.avatar.url}}" alt="Profile picture" width="270" height="250"">
  <p>address : {{profile.address}}</p>
  <p>work : {{profile.work}}</p>
  <p>education : {{profile.education}}</p>
  <p> intrests <p>
  {% if intrestlist %}
    <ul>
    {% for intrests in intrestlist %}
        <li>{{intrests.intrest}}</li>
    {% endfor %}
    </ul>
  {%else%}
    <p>no intrests</p>
  {%endif%}

{% endblock %}
